################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Properties
/bin
/obj
/WebApp.csproj.user
